body{
    background-color:#e879f9
}
h1,h2,p{
    text-align:center;
    font-family:cursive;
    font-size:larger;
}  
input{
      height:2.5rem;
      width:15rem;
      text-align:center;
}
div{
    text-align:center;
    margin-top:1rem;
}
button{
    width:5rem;
    border-radius:2rem;
    color:rgb(92, 129, 229);
    background-color: peachpuff;
}
.base{
    text-align:right;
    margin-top:12.7rem;
    border-style:solid;
    border-width:5rem;
    border-color: white;
    border-top-right-radius: 1rem;
    background-color: white;
    
}
